{% extends 'users/base.html.twig' %}
{% block title %}
    {{ parent() }}
    Index{% endblock %}
{% block body %}
    <a href="{{ path('logout') }}">Logout</a>
    <h1>USER Expensiv manager</h1>
{% endblock %}
