{% extends 'users/base.html.twig' %}
{% block body %}
    <div class="col-sm-6 col-sm-offset-3">
        <h1>{{ 'transaction.edit'|trans }}</h1>
        <div class="form">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
