<div class="">
    {% set totalwallet = moneyInWallets[0][1] %}
    <div class="panel-body text-left">
        <div class="col-md-8">
            Outflow
        </div>
        <div class="col-md-4 text-right" style="border-bottom: 1px solid silver">
            {% set totaltrans = totalTransactions[0][1] %}
            {{ totaltrans|number_format(2, '.',',') }}
        </div>
    </div>
    <div class="panel-body text-left">
        <div class="col-md-8">
            Avaliable
        </div>
        <div class="col-md-4 text-right" style="border-bottom: 1px solid silver;">
            {% if totalwallet - totaltrans > 1 %}
                <span class="text-success">{{ totalwallet - totaltrans }}</span>
                {% else %}
                    <span class="text-danger">{{ totalwallet - totaltrans }}</span>
            {% endif %}
        </div>
    </div>
    </div>